.main {
  padding: 18px 0 0;
}

.container {
  width: 100%;
  max-width: 1836px;
  margin: 0 auto;
  padding: 0 16px;
}

.calcBanner {
  display: block;
  margin: 118px 0 110px;
  border-radius: 36px;
  overflow: hidden;
}

.calcBanner picture {
  display: block;
}

.calcBannerImg {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 767px) {
  .main { padding-top: 8px; }
  .container { padding: 0 15px; }
  .calcBanner {
    margin: 70px 0 54px;
    border-radius: 18px;
  }
  .calcBannerImg {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container { padding: 0 60px; }
}
